body{
    background:linear-gradient(to top,gray,lightgray);
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:solid rgb(218, 209, 199) 5px;
}
#earlylife p, #death p{ 
    display:inline-block;
    text-align:center;
    background-color:antiquewhite;
    border: solid 3px whitesmoke;
    width:500px;
    height:130px;
    padding: 10px 15px;
}
#work p, #legacy p{
    display:inline-block;
    text-align:center;
    background-color:antiquewhite;
    border: solid 3px whitesmoke;
    width:500px;
    height:175px;
    padding: 10px 15px;   
}
h4{
    text-align:center;
    font-size:25px;
}
h3{
    font-size:25px;
}
div{
    text-align:center;
}
ul{ /*setting the display property of the list to inline
    block makes it behave as both enabling it to be in the center as
    a block and with the needed space only as an inline element*/
    display:inline-block;
    background-color:rgb(218, 209, 199);
    overflow:hidden;
    margin:40;

}
li{
    display:block;
    font-size:18px;
    float:left;
    text-align: center;
    padding:14px 16px;
}
li a:hover{
    background-color:antiquewhite;
}
a{
    text-decoration: none;
    color:black;
}
