body{
    background-color: #E2D3CD;
}
.container{
    font-family:'DM Serif Display', serif;
    display:grid;
    place-items:center;
}
img{
    width:200px;
    height:200px;
    margin-left:2%;
    position: absolute;
    top:5%;
}
label,input{
    display:block;
}
.form-control {
    border-radius: 20px;
    background-color: #FFF7EC;
    margin-right:auto;
    margin-left:auto;
}
form{
    margin-top:20%;
    margin-bottom:20%;
}
.btn {
    display: block;
    margin: 20px auto 0;
}
.header{
    z-index:2 !important;
    text-align: center;
}
@media(max-width:430px){
    .container{
        font-family:'DM Serif Display', serif;
        display:grid;
        place-items:center;
        margin-top:40%;
        margin-right:auto;
        margin-left:auto;
        z-index:1 !important;
        position: relative;
    }
    img{
        width:100px;
        height:100px;
        position: relative;
        top:0%;
    }
    form{
        margin-top:25%;
        margin-bottom:25%;
    }
    .header{
        z-index:2 !important;
        position: relative;
    }
    .circle {
        width: 90px !important;
        height: 90px !important;
        border-radius: 50%;
    }
    .circle-left {
        left:70px;
       top:85% !important;
        background-color:#DBA3B6;
    }
    .circle-right {
        right: 0;
        top:5% !important;
        background-color:#DFAD74;
    }
}
.btn{
    border-radius:13px;
    padding:5px;
    background-color:#DBA3B6;
    margin-top:1rem;
    cursor: pointer;
    border-color:#923f5b;
    color:white;
    margin-left:auto;
    margin-right:auto;
}
.btn:hover , .btn:active{
    background-color:#a74465;
    color:white;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}
.circle-left {
    left:70px;
    top: 60%;
    background-color:#DBA3B6;
    z-index:-1 !important;
}
.circle-right {
    right:70px;
    top: 15%;
    background-color:#DFAD74;
    z-index:-1 !important;
}
input:active{
border-color: #a74465;
}